/*
This is the CSS file.  It controls the appearance and position
of the HTML elements.  These need to be applied to an HTML
element in order to do something.
*/

:root {
  --light: #afeeee;
  --standard: #40e0d0;
  --medium: #48d1cc;
  --dark: #00ced1;
}

body {
  background: var(--light);
}

#box-button {
  background: var(--dark);
  height: 30px;
  width: 200px;
}

.box {
  height: 100px;
  width: 100px;
  background: var(--dark);
  border: 1px solid var(--medium);
  position: absolute;
}
